@model AccountingProgram

@{
    ViewData["Title"] = "Edit Accounting Program";
}

<form asp-controller="AccountingProgram" asp-action="Edit">
    <input type="hidden" asp-for="AccountingProgramId"/>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input class="form-control" asp-for="Name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
