@model IEnumerable<Project>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProjectId</td>
                <td>@item.ProjectName</td>
                <td>
                    @if (item.Status)
                    {
                        <i class="fas fa-check-circle"></i>
                    }
                    else
                    {
                        <i class="fas fa-times-circle"></i>
                    }
                </td>
                <td>
                    <a asp-controller="Project" asp-action="Details" asp-route-id="@item.ProjectId" class="btn btn-primary btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
